 
<mat-card class="sidebar">
    <mat-action-list>
        <div matSubheader style="color: white;">Menu</div>
        <button class="student" mat-list-item routerLinkActive="active" routerLink="student"><mat-icon mat-list-icon>group</mat-icon>Student</button>
        <button class="student" mat-list-item routerLinkActive="active" routerLink="transaction"><mat-icon mat-list-icon>toc</mat-icon>Transaction</button>
        <button class="student" mat-list-item routerLinkActive="active" routerLink="announcement"><mat-icon mat-list-icon>campaign</mat-icon>Announcement</button>
        <button class="student" mat-list-item routerLinkActive="active" routerLink="manage-instructor"><mat-icon mat-list-icon>manage_accounts </mat-icon>Manage Instructor</button>
        <button class="student" mat-list-item routerLinkActive="active" routerLink="maintanence"><mat-icon mat-list-icon>settings_suggest</mat-icon>maintanence</button>
        <button class="student" mat-list-item routerLinkActive="active" routerLink="user"><mat-icon mat-list-icon>verified_user</mat-icon>Users</button>
        <button class="student" mat-list-item routerLinkActive="active" routerLink="report"><mat-icon mat-list-icon>report</mat-icon>Report</button>
        <button class="student" mat-list-item routerLinkActive="active" routerLink="/login"><mat-icon  mat-list-icon >logout</mat-icon>Logout</button>
    </mat-action-list> 
</mat-card> 

<!-- <p>app-sidebar works !!</p> -->