.h1{
    font-size: 35px;
    margin-top: 5px;
}
.card{
    background: #afd3ce;
    height: 100%;
}

.box{
    margin-bottom: 28px;
    position: relative;

}

.image{
    width: 90%;
    height: 80%;
}
.content{
    border: 20px solid #bcd9df;
}


