// .imgforgot {
//     width: 47%;
// }

// .Forgotname {
//     font-weight: 500;
//     font-family: ui-serif;
//     display: flex;
//     justify-content: center;
//     color: #563d7c;
// }

// // .entercode {
// //     display: flex;
// //     justify-content: center;
// // }

// .email {
//     width: 71%;
//     margin-right: 10px;
//     margin-top: 93px;
// }

// .otc {
//     position: relative;
//     width: 320px;
//     margin: 0 auto;
// }

// .otc fieldset {
//     border: 0;
//     padding: 0;
//     margin: 0;
// }

// .otc fieldset div {
//     display: flex;
//     align-items: center;
// }

// .otc legend {
//     margin: 0 auto 1em;
//     color: #5555FF;
// }

// .height-100 {
//     height: 100vh
// }

// .card {
//     width: 450px;
//     border: none;
//     height: 300px;
//     box-shadow: 0px 5px 20px 0px #d2dae3;
//     z-index: 1;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 75px;
    
// }

// .card h6 {
//     color:#563d7c;
//     font-size: 20px
// }

// .inputs input {
//     width: 40px;
//     height: 40px
// }

// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     margin: 0
// }

// .card-2 {
//     background-color: #fff;
//     padding: 10px;
//     width: 350px;
//     height: 100px;
//     bottom: -50px;
//     left: 20px;
//     position: absolute;
//     border-radius: 5px
// }

// .card-2 .content {
//     margin-top: 50px
// }

// .card-2 .content a {
//     color: #563d7c
// }

// .form-control:focus {
//     box-shadow: none;
//     border: 2px solid #563d7c
// }

// .validate {
//     border-radius: 20px;
//     height: 40px;
//     background-color: #563d7c;
//     border: 1px solid #563d7c;
//     width: 140px
    
// }

// .otpbox {

//     position: relative;
// }
// .otpbg{
//     position: fixed;
//     top: -03%;
//     left: 25%;
// }


.img{
    width: 90%;
}

.card{
    right: 3%;
    top: 37%;
    position: absolute;
    height: 50%;
}

.otpbox{
    display: flex;
    justify-content: center;
}

.validate{
    margin-top: 20px;
}

.fullbox{
    position: absolute;
    right: 21%;
    top: 10%;
}
.mat-card{
    margin-top: 20px;
}