<div class="page">
    <form class="format" [formGroup]="newpasswordsetForm" (ngSubmit)="submit()">
        <div class="mt-3 mb-3">
            <div class=" mb-3">
                <label class="form-label"> New Password: </label>
                <input type="password" formControlName="newpassword" class="form-control" [type]="showPassword ? 'text' : 'password'" placeholder="Enter new password...">  
                <mat-icon  class="icon" (click)="onClick()">   
                    {{showPassword?'visibility_off':'visibility'}}
                </mat-icon>
                <span class="danger" *ngIf="f['newpassword'].touched && f['newpassword'].invalid">
                    *password must be required   
                </span>        

            </div>
            <div class=" mb-3">
                <label class="form-label"> conform Password </label>
                <input type="password" formControlName="conformPassword" class="form-control" placeholder="Enter conform password...">  
                <span class="danger" *ngIf="f['conformPassword'].touched && f['conformPassword'].invalid">
                    *Password can not be match   
                </span>

            </div>
            <div class="text-center mt-3">
                <button [disabled]="newpasswordsetForm.invalid" class="btn btn-primary">Submit</button> <!-- -->    
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </form>
</div>